<!-- This is an example template for a page which shows all the badges a student has earned in edX.
It is behind a separate feature flag; mainly here as a prototype so that should someone want to implement
such a page in the future, this page will be here as a code snippet to borrow from. -->

<%!
  from django.core.urlresolvers import reverse
  from courseware.courses import course_image_url, get_course_about_section
  from courseware.access import has_access
  from certificates.models import CertificateStatuses
%>
<%inherit file="main.html" />

<%namespace name='static' file='static_content.html'/>

<%block name="title"><title>Badges Earned</title></%block>

<%block name="js_extra">
  <script type="text/javascript" src="http://beta.openbadges.org/issuer.js"></script>
  <script>

  $(document).ready(function() {

    var start_info_button = function() {
        $('#badge_info_button').attr('value', '▸ Learn more');
        $('#badge_info').hide();
    };
    start_info_button();

    $('input#badge_export').click(function() {
      OpenBadges.issue(${badge_data['badge_urls']}, function(e,s) {});
    });


    var badge_info_visible = false;
    var flip_info_button = function() {
      if (badge_info_visible) {
        $('#badge_info_button').attr('value', '▸ Learn more');
        $('#badge_info').hide('blind');
      }
      else {
        $('#badge_info_button').attr('value', '▾ Learn more');
        $('#badge_info').show('blind');
      }
      badge_info_visible = !badge_info_visible;
    };
    $('#badge_info_button').click(flip_info_button);


  });

</script>
</%block>

<section class="container dashboard">

  <section class="my-courses">

    %if len(badge_data['earned_badges']) > 0:
    <header>
      <h2>All Badges (prototype)</h2>
    </header>
      <p><input type="button" id="badge_info_button" style="float:right;" />

        If you wish, you can export these badges to <a href="http://beta.openbadges.org/">Mozilla Backpack</a> to share them.</p>

      <br />
      <div id="badge_info">
      <hr />
      <input type="button" id="badge_export" value="Export All" style="float:right;" />

      <p>
        These badges are <a href="http://openbadges.org/">Mozilla Open Badges</a>, which means you can save them in <a href="http://beta.openbadges.org/">Mozilla Backpack</a>, a separate website which stores badges. You can display and share the badges elsewhere on the Internet, along with any badges you collect from other websites. Log in to Mozilla Backpack using your <b>${user.email}</b> email address.
      </p>
      </div>
      <hr />

      %for i in range(len(badge_data['earned_badges'])):
        <%badge = badge_data['earned_badges'][i]%>
          <table><tr>
            <td><img src="${badge['image']}" style="float:left; width:100px; margin-right:20px;" /></td>
            <td>
              <h3>${badge['badge']['name']}</h3>
              <p><b>${badge['badge']['description']}</b><br />
                issued on <i>${badge['issuedOn']}</i> by
                <a href="${badge['badge']['issuer']['origin']}">${badge['badge']['issuer']['name']}</a>
                %if badge['badge']['custom'].get('course', None):
                  <br /><i><a href = "/courses/${badge['badge']['custom']['course']}/badges">all badges for this course</a></i>
                %endif
              </p>
            </td>
          </tr></table>
          <hr />
      %endfor
    %else:
      <p></p>
    %endif

  </section>
</section>

